Source: io.elementary.shortcut-overlay
Section: gnome
Priority: optional
Maintainer: elementary LLC. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               desktop-file-utils,
               libgee-0.8-dev,
               libgranite-7-dev (>= 7.3.0),
               libgtk-4-dev,
               libpantheon-wayland-1-dev,
               meson,
               valac
Standards-Version: 3.9.6

Package: io.elementary.shortcut-overlay
Architecture: any
Depends: gala (>= 8.0.0),
         ${misc:Depends},
         ${shlibs:Depends}
Description: shortcut overlay
 Native OS-wide shortcut overlay
