decoration {
    box-shadow:
        0 0 0 1px alpha (#000, 0.2),
        0 8px 10px 1px alpha (#000, 0.14),
        0 3px 14px 2px alpha (#000, 0.12),
        0 5px 5px -3px alpha (#000, 0.4),
        0 14px 28px transparent;
}

decoration:backdrop {
    box-shadow:
        0 0 0 1px alpha (#000, 0.2),
        0 3px 6px alpha (#000, 0.16),
        0 3px 6px alpha (#000, 0.23),
        0 14px 28px transparent;
}

.shortcuts-view {
    padding: 40px;
}

.last-entry {
    padding-bottom: 25px;
}
